@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sidebar transitions */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

/* Dropdown animations */
[x-cloak] { display: none !important; }
